extends layout

block content
    h1 O token já foi utilizado ou esta invalido!!
    p A sua senha já foi alterada! Entre no aplicativo com a sua nova senha. Caso contrario tente novamente com um novo token.
